---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'
import Pagination from '~/components/Pagination.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import LayoutPost from '~/layouts/LayoutPost.astro'
import { getPostDescription, getPosts } from '~/utils'

const { translate: t } = Astro.locals

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getPosts()
  return paginate(posts, { pageSize: 5 })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props
---

<LayoutDefault>
  <section contain-layout flex="~ col gap-7.5">
    {
      page.data.map((post) => (
        <LayoutPost post={post}>
          <p class="line-clamp-4">{getPostDescription(post)}</p>
        </LayoutPost>
      ))
    }
  </section>
  <Pagination
    showLeft={Boolean(page.url.prev)}
    leftTitle={t('prev')}
    leftUrl={page.url.prev}
    showRight={Boolean(page.url.next)}
    rightTitle={t('next')}
    rightUrl={page.url.next}
    currentPage={page.currentPage}
    totalPage={page.lastPage}
  />
</LayoutDefault>
