---
import { themeConfig } from '~/.config'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import type { Post } from '~/types'
import { formatDate, getCategories, getPathFromCategory } from '~/utils'

export async function getStaticPaths() {
  const categoryMap = await getCategories()
  return Array.from(categoryMap).map(([key, value]) => {
    const path = getPathFromCategory(key, themeConfig.site.categoryMap)
    return {
      params: { category: path },
      props: { posts: value, name: key },
    }
  })
}

const { posts, name } = Astro.props

function getListItems(posts: Post[]) {
  const result = posts.map((post) => ({
    title: post.data.title,
    href: `/posts/${post.id}/`,
    date: formatDate(post.data.pubDate),
  }))
  return result
}
---

<LayoutDefault>
  <section>
    <h2 class="post-title"># {name}</h2>
    <ul class="pl-6 py-3" flex="~ col gap-4">
      {
        getListItems(posts).map(({ title, href, date }) => (
          <li>
            <h3 class="post-title">
              <a href={href}>{title}</a>
            </h3>
            <time>{date}</time>
          </li>
        ))
      }
    </ul>
  </section>
</LayoutDefault>
