---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import type { Post } from '~/types'
import { formatDate, getPosts } from '~/utils'

const posts = await getPosts(true)

const yearMap = getYearMap(posts)

interface ListItem {
  title: string
  href: string
  date: string
}

function getYearMap(posts: Post[]) {
  const result = new Map<number, ListItem[]>()
  for (const post of posts) {
    const year = (post.data.pubDate ?? new Date()).getFullYear()
    const posts = result.get(year) ?? []
    posts.push(getListItem(post))
    result.set(year, posts)
  }
  return Array.from(result.entries())
}

function getListItem(post: Post): ListItem {
  return {
    title: post.data.title,
    href: `/posts/${post.id}/`,
    date: formatDate(post.data.pubDate, 'MM-DD'),
  }
}
---

<LayoutDefault>
  <div flex="~ col gap-4">
    {
      yearMap.map(([year, posts]) => (
        <section>
          <h2 class="post-title">{year}</h2>
          <ul class="pl-6" flex="~ col gap-4">
            {posts.map(({ title, href, date }) => (
              <li>
                <h3 class="post-title">
                  <a href={href}>{title}</a>
                </h3>
                <time>{date}</time>
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>
</LayoutDefault>
