---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'header'>

const { ...attrs } = Astro.props

const { title, author, socials, navs } = Astro.locals.config

const { translate: t } = Astro.locals
---

<header class="text-center flex flex-col gap-2.5 lg:grow-1 lg:justify-between lg:items-start" {...attrs}>
  <hgroup
    class="cursor-pointer transition-[padding,background] duration-800 ease-in-out flex flex-col gap-2.5 lg:write-vertical-right lg:items-start lg:px-2.5 lg:pb-12 lg:border-l-2 lg:border-l-foreground lg:text-left lg:hover:bg-foreground lg:hover:text-background lg:hover:pt-3.75 lg:hover:pb-8.75"
  >
    <a class="normal" href="/">
      <h3 class="text-5 font-extrabold font-serif">{author}</h3>
      <h1 class="text-8 font-extrabold font-serif">{title}</h1>
    </a>
  </hgroup>

  <nav class="text-center font-bold flex flex-col gap-4">
    <ul class="text-3.5 flex flex-row gap-4 justify-center lg:flex-col lg:items-start lg:text-4">
      {
        navs.map((nav) => (
          <li>
            <a href={nav.href}>{t(nav.name)}</a>
          </li>
        ))
      }
    </ul>
    <ul class="flex flex-row gap-4 justify-center">
      {
        socials.map((soc) => (
          <li>
            <a href={soc.href} rel="noopener noreferrer" title={soc.name} class={`icon i-mdi-${soc.name}`} />
          </li>
        ))
      }
    </ul>
  </nav>
</header>
