---
import { SOCIALS, NAVS } from '~/config'
---

<header class="text-center" un-flex="~ col gap-2.5">
  <h3 class="text-5 font-extrabold font-serif">Moeyua</h3>
  <h1 class="text-8 font-extrabold font-serif">Typography</h1>
  <nav class="text-center font-bold" un-flex="~ col gap-2">
    <ul class="text-3.5" un-flex="~ row gap-2 justify-center">
      {
        NAVS.map((nav) => (
          <li>
            <a href={nav.href} >{nav.name}</a>
          </li>
        ))
      }
    </ul>
    <ul un-flex="~ row gap-1 justify-center">
      {
        SOCIALS.map((soc) => (
          <li>
            <a href={soc.href} title={soc.linkTitle} class={`icon i-mdi-${soc.name}`} />
          </li>
        ))
      }
    </ul>
  </nav>
</header>
