---
import { themeConfig } from '~/.config'

const { navLinks, socialLinks } = themeConfig.site
const { translate: t } = Astro.locals
---

<nav class="text-center font-bold" flex="~ col gap-2">
  <ul lg="flex-col items-start text-4" class="text-3.5" flex="~ row gap-2 justify-center">
    {
      navLinks.map((nav) => (
        <li>
          <a class="" href={nav.href}>
            {t(nav.name)}
          </a>
        </li>
      ))
    }
  </ul>
  <ul flex="~ row gap-1 justify-center">
    {
      socialLinks.map(({ href, name }) => (
        <li>
          <a href={href} target="_blank" title={name} class="not-underline-hover inline-flex items-center">
            <span class={` i-mdi-${name}`}>{name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
