---
import { themeConfig } from '~/.config'
import type { Post } from '~/types'
import Disqus from './Disqus.astro'
import Giscus from './Giscus.astro'
import Twikoo from './Twikoo.astro'

interface Props {
  post: Post
}

const { id, data, slug } = Astro.props.post

const path = `/posts/${slug}`
const url = `${Astro.site?.href}${path}`

const commentService = getCommentService()

function getCommentService() {
  const result = Object.keys(themeConfig.comment)[0]
  return result || ''
}
---

{
  commentService !== '' && (
    <div py-16>
      {commentService === 'disqus' && <Disqus identifier={id} url={url} title={data.title} />}
      {commentService === 'giscus' && <Giscus />}
      {commentService === 'twikoo' && <Twikoo path={path} />}
    </div>
  )
}
